#!/bin/bash

# Получаем абсолютный путь до текущей папки (в твоем случае это будет /home/e.serov/Petroleum)
PROJECT_PATH="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
SRC=$(basename "$PROJECT_PATH")

# Заменяем точки в имени пользователя на подчеркивания (e.serov -> e_serov)
DOCKER_NAME=$(echo "$USER" | tr '.' '_')

# Имена для образа и контейнера
IMAGE_NAME="${DOCKER_NAME}_${SRC,,}_image"   # e_serov_petroleum_image
CONTAINER_NAME="${USER}-${SRC}"              # e.serov-Petroleum

# Забираем ID твоего пользователя и группы из системы
DOCKER_USER_ID=$(id -u)
DOCKER_GROUP_ID=$(id -g)