torch
torchaudio
tensorboard
matplotlib
seaborn
aeon
jupyter
torchdiffeq
scikit-learn
sktime
tqdm
numpy
argparse
pathlib
scipy
pandas
GPy
omegaconf
torchcde
pytz
tsaug
pytorch-lightning  
transformers      
stumpy            
tsfresh           
filterpy       
plotly            
hydra-core        
openpyxl